.TimeForSection {
  width: 50%;
  box-sizing: border-box;
  display: block;
}
.time-for-icon {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.time-for {
  text-align: center;
  color: #226089;
  font-weight: 800;
  font-size: 17px;
}
