.Weather {
  width: 50%;
  box-sizing: border-box;
  display: block;
}

.Weather li {
  list-style-type: none;
  text-align: left;
  font-size: 15px;
}

.current-temperature {
  font-size: 135px;
  font-weight: 450;
  color: #4592af;
  text-align: center;
  margin-left: 0;
}
.current-weather-icon {
  font-size: 60px;
  color: #4592af;
}
.temperature-properties {
  padding-bottom: 28px;
}
